.front, .back {
  width:100%;
  min-height:300px;
  display: table;
}

.front h3 {
  vertical-align: bottom;
  text-align: center;
}
.back p {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.fast {
  animation-duration: .5s;
}



.mainFooter {
  width:100%;
   background: navy;
  display: flex;
  justify-content: center;
  align-items: center;
  font-variant:small-caps;
  font-family: Georgia;
  color: #fff;
  p {
    padding:5px;
  }
}